/src/ export-ignore
/node_modules/ export-ignore
/.github/ export-ignore
/.vscode/ export-ignore
/package-lock.json export-ignore
/README.md export-ignore
/LICENSE.txt export-ignore
/.DS_Store export-ignore
*.zip export-ignore
dist/** export-ignore